@import url('__span-accent/two-columns__span-accent.css');
@import url('__brief/two-columns__brief.css');
@import url('__main-text/two-columns__main-text.css');

.two-columns {
    justify-content: space-between;
    width: 80%;
    display: flex;
    }