.footer {
    display: flex;
    color: white;
    background-color: #1f1f1f;
    padding-top: 60px;
    padding-bottom: 40px;
    justify-content: center;
    min-height: 350px;
    box-sizing: border-box;
  }